@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css');
@import url("https://use.fontawesome.com/releases/v5.15.2/js/all.js");
@import url("https://fonts.googleapis.com/css?family=Judson:regular,italic");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");


.block-editor-block-list__layout.is-root-container {

    @import "providence-one";
  font-family: Montserrat, sans-serif;
  color: #444;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 500;

    /*     .wp-block-uagb-faq .uagb-icon svg {
        display: flex;
        width: auto !important;
    }
        [data-type="genesis-blocks/gb-accordion"] {
            margin: 0;
        }
    
        .gb-block-accordion {
            margin-bottom: 0;
    
            &:active, &:focus-within {
                .gb-accordion-text {
                    display: block;
                }
            }
    
            .gb-accordion-title {
                margin-bottom: 5px !important;
                padding: 0;
            }
    
            .gb-accordion-text {
                display: none;
            }
        } */

}

.genesis-custom-blocks-editor__ssr {
    margin-bottom:30px;
}

.block-editor-block-list__layout .block-editor-block-list__block:after {
    position: static;
}

.block-editor-block-list__layout .wp-block {
    max-width: 95%;
    margin: auto;
}

.block-editor-block-list__layout.is-root-container {
     max-width: 100%;
     width:100%;
    margin: 2em auto 28px;
    margin-top: 150px;
}